:root {
    --font: 'Montserrat';
    --darkSmoke: #262626;
    --sun: #FFCC33;
    --red: #D0263D;
    --Darkblue: #000080;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 22px;
    font-family: var(--font);
    background-color: whitesmoke;
}

/*-------------- Top of the page --------------*/
header {
    color: var(--red);
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h1 {
    font-size: 25px;
}

.btnHS {
    background-color: whitesmoke;
    text-decoration: none;
    border: transparent;
    color: var(--red);
    border-radius: 10px;
    cursor: pointer;
    
}

.btnHS:hover {
    color: var(--sun);
    border-bottom: 5px dashed var(--sun);
}

/*-------------- Main quiz content --------------*/

.btn {
    border-radius: 8px;
    background-color: var(--red);
    box-shadow: inset 0 0 0 0 var(--red);
    transition: ease-out .4s;
    cursor: pointer;
    font-weight: bolder;
    margin-top: 17px;
    padding: 13px 30px;
    color: var(--sun);
    border: 2px solid var(--red);
}

.btn:hover {
    box-shadow: inset 150px 0 0 0 var(--sun);
    color: var(--red);
    border: 2px solid var(--sun);
}

.quizCTR {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}