:root {
    --font: 'Montserrat';
    --darkSmoke: #262626;
    --sun: #FFCC33;
    --red: #D0263D;
    --Darkblue: #000080;
    --green: #CCF381;
    --hue-neutral:  200;
    --hue-wrong: 5;
    --hue-correct: 145;
    --hue-body: 250;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 22px;
    font-family: var(--font);
    --hue: var(--hue-body);
    background-color: hsl(var(--hue), 100%, 82%);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

/*-------------- Top of the page --------------*/
header {
    color: var(--red);
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--font);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: whitesmoke;
    position: relative;
}

h1 {
    font-size: 25px;
}

.btnHS {
    background-color: whitesmoke;
    text-decoration: none;
    border: transparent;
    color: var(--red);
    border-radius: 10px;
    cursor: pointer;
    
}

.btnHS:hover {
    color: var(--sun);
    border-bottom: 5px dashed var(--sun);
}

/*-------------- Main quiz content --------------*/

.btn {
    --hue: var(--hue-neutral);
    border-radius: 8px;
    background-color: hsl(var(--hue), 100%, 50%);
    box-shadow: inset 0 0 0 0 var(--hue);
    transition: ease-out .4s;
    cursor: pointer;
    font-weight: bolder;
    padding: 5px 10px;
    color: var(--gree);
    border: 2px solid hsl(var(--hue), 100%, 30%);
}

.btn:hover {
    box-shadow: inset 300px 0 0 0 hsl(var(--hue), 100%, 20%);
    color: whitesmoke;
    border: 2px solid hsl(var(--hue), 100%, 30%);
}

.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
    color: whitesmoke;
}

.btnGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 75vh;
}

/* .quizCTR {
    width: 800px;
    max-width: 80%;
    background-color: #fffaee;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
} */

.hide {
    display: none;
}